@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.product-btn {
  margin-top: 25px;
  width: 100%;
}

.product-btn button {
  display: block;
  margin: 0 auto;
  background-color: #353531;
  color: white;
  box-shadow: 0 0 5px #353531;
  transition: all 0.5s;
  border: none;
}

.product-btn button:hover {
  background-color: #ec4e20;
  color: white;
}

.ant-layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-items {
  position: relative;
  margin-right: 25px;
  display: flex;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 14px;
  top: -10px;
  right: -20px;
  background-color: #ff9505;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.cart-plus {
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-plus:hover {
  filter: drop-shadow(0 0 2px #ff9505);
  color: #ff9505;
}

.cart-minus {
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.cart-minus:hover {
  filter: drop-shadow(0 0 2px #ff9505);
  color: #ff9505;
}

.cart-quantity {
  font-size: 20px;
  vertical-align: bottom;
}

.cart-action {
  cursor: pointer;
  transition: all 0.5s;
}

.cart-action:hover {
  filter: drop-shadow(0 0 2px #ff0000);
  color: #ff0000;
}

.loading {
  position: absolute;
  left: 50%;
  top: 25%;
  text-align: center;
  color: #016fb9;
  letter-spacing: 1.3px;
}

.cart-edit {
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 30px;
}

.cart-edit:hover {
  filter: drop-shadow(0 0 2px #016fb9);
  color: #016fb9;
}

.add-new {
  display: block !important;
  margin: 0 0 15px auto !important;
  background-color: #353531 !important;
  color: white !important;
  box-shadow: 0 0 5px #353531 !important;
  transition: all 0.5s;
  border: none !important;
}

.add-new:hover {
  background-color: #016fb9 !important;
  color: white !important;
}

.category {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.categoryFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  cursor: pointer;
  padding: 5px;
}

.category-active {
  box-shadow: 0 0 10px #ff9505;
  border-radius: 5px;
}

.categoryName {
  text-transform: capitalize;
  letter-spacing: 1.3px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form h2 {
  letter-spacing: 2px;
  color: #353531;
}

.form p {
  letter-spacing: 1.3px;
  color: #353531;
}

.form-group {
  box-shadow: 0 0 5px #353531;
  padding: 10px 5px;
  border-radius: 5px;
}

.form-group input {
  border: none;
  outline: none;
  border-bottom: 1px solid #353531;
  width: 350px;
  height: 40px;
  padding: 5px 15px;
}

.form-group input:focus,
.form-group input:hover {
  border-color: #353531;
}

.other-form {
  color: #353531;
  letter-spacing: 1.3px;
}

.other-form:hover {
  color: #353531;
  text-decoration: underline;
}

.subtotal {
  margin-right: 40px;
  text-align: right;
}
